﻿
@{
    ViewBag.Title = "Index";
}

<img class="img-fluid" src="./Content/Images/home-showcase.png" alt="logo">
<h5><em>Fresh</em> off the grill</h5>
<ul class="list-inline">
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">Nevermind</p>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">The Worst Of Man At Work</p>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img class="img-fluid" src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">Misplaced Childhood</p>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img class="img-fluid" src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">Greatest Hits</p>
            </div>
        </div>
    </li>
    <li class="list-inline-item">
        <div class="card">
            <div class="card-body text-center">
                <a href="#"><img class="img-fluid" src="./Content/Images/placeholder.gif" alt="logo"></a>
                <p class="card-text">Let There Be Rock</p>
            </div>
        </div>
    </li>
</ul>

