﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*3rd Party CSS.*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    @*My Custom CSS.*@
    <link href="~/Content/Custom/custom.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <!-- Navbar. -->
    <nav class="navbar navbar-expand-md bg-light navbar-light">
        <a class="navbar-brand" href="#">
            <img src="./Content/Images/logo.png" alt="logo">
            <h4>ASP.Net MVC Music Store</h4>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cart (0)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid">
        <section>
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-lg-10">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleSidebar">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="collapsibleSidebar">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Rock</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Jazz</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Metal</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Alternative</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Disco</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Blues</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Latin</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Reggae</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Pop</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Classical</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-md-10">
                    @RenderBody()
                </div>
            </div>
        </section>

        <section>
            <hr>
            <p class="lead text-center">Wanna contact me? Email me at <a href="#">mvc_music_store@hotmail.com</a>.</p>
            <hr>
        </section>
    </div>

    @*3rd Party JS.*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    @*My Custom JS.*@
</body>
</html>