﻿@model IEnumerable<AspNet_Mvc_4_Music_Store.Models.Genre>

@{
    ViewBag.Title = "Store";
}

<h3>Browse Genres</h3>
<p>
    Select from @Model.Count() genres:
</p>
<ul>
    @foreach (var item in Model)
    {
        @*<li>@item.Name</li>*@
        @*<li>@Html.ActionLink(item.Name, "Browse", "Store", new { genre = item.Name })</li>*@
        <li>@Html.ActionLink(item.Name, "Browse", new { genreName = item.Name })</li>
    }
</ul>
